<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Muse</title>
  <!-- Material Design -->
  <link href="{{url_for('static', filename='css/base.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/project.min.css')}}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="{{url_for('static', filename='js/base.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/project.min.js')}}"></script>
  <style>
    .rainbow {
      animation: CustomAnimation 10s ease infinite;
      background: linear-gradient(270deg, rgb(31, 234, 182), rgb(234, 31, 199), rgb(234, 194, 31)) 0% 0% / 300% 300%;
      opacity: .75;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 55px;
      z-index: 10
    }
  </style>
  <style class="keyframe-style" id="CustomAnimation" type="text/css">@keyframes CustomAnimation {0% {background-position:0% 50%;}50% {background-position:100% 50%;}100% {background-position:0% 50%;}}</style>
</head>
<body class="page-brand" style="padding-bottom: -0px;">
  <video poster="" id="bgvid" playsinline autoplay loop muted style="width:100%;height:100%;postion:fixed;top:50px">
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
  <source src="http://ak5.picdn.net/shutterstock/videos/12273485/preview/stock-footage-happy-young-man-dancing-in-kitchen-wearing-pajamas-in-the-morning-listening-to-music-on-smartphone-a.mp4" type="video/mp4">
  </video>
  <div id="gradient" class="rainbow"></div>
  <div style="position:fixed;width:100%;height:100%;z-index:10;top:0px">
  <header class="header ui-header-transparent" style="border-bottom:1px solid darkgrey;">
    <span class="header-logo">Muse</span>
  </header>
  <div class="progress" id="loader" style="opacity:0;position:fixed;margin-top:55px;z-index:30;width:100%;top:0px;">
    <div class="load-bar">
        <div class="load-bar-base">
            <div class="load-bar-content">
                <div class="load-bar-progress"></div>
                <div class="load-bar-progress load-bar-progress-brand"></div>
                <div class="load-bar-progress load-bar-progress-green"></div>
                <div class="load-bar-progress load-bar-progress-orange"></div>
            </div>
        </div>
    </div>
    <div class="load-bar">
        <div class="load-bar-base">
            <div class="load-bar-content">
                <div class="load-bar-progress"></div>
                <div class="load-bar-progress load-bar-progress-orange"></div>
                <div class="load-bar-progress load-bar-progress-green"></div>
                <div class="load-bar-progress load-bar-progress-brand"></div>
            </div>
        </div>
    </div>
  </div>
  <main class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-lg-push-4 col-sm-6 col-sm-push-3">
          <section class="content-inner" style="margin-top: 25%">
            <div class="card">
              <div class="card-main">
                <!-- <div class="card-header">
                  <div class="card-inner">
                    <h1 class="card-heading">Login</h1>
                  </div>
                </div> -->
                <div class="card-inner">
                  <form class="form" action="/authorize">
                    <!-- <div class="form-group form-group-label">
                      <div class="row">
                        <div class="col-md-10 col-md-push-1">
                          <label class="floating-label" for="ui_login_username">Email</label>
                          <input name="email" class="form-control" id="ui_login_email" type="email">
                        </div>
                      </div>
                    </div>
                    <div class="form-group form-group-label">
                      <div class="row">
                        <div class="col-md-10 col-md-push-1">
                          <label class="floating-label" for="ui_login_password">Password</label>
                          <input name="password" class="form-control" id="ui_login_password" type="password">
                        </div>
                      </div>
                    </div> -->
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-10 col-md-push-1">
                          <button class="btn btn-block btn waves-attach waves-light">Sign In</button>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="form-group">
                      <div class="row">
                        <div class="col-md-10 col-md-push-1">
                          <div class="checkbox checkbox-adv">
                            <label for="ui_login_remember">
                              <input class="access-hide" id="ui_login_remember" name="ui_login_remember" type="checkbox">Stay signed in
                              <span class="checkbox-circle"></span><span class="checkbox-circle-check"></span><span class="checkbox-circle-icon icon">done</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div> -->
                  </form>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
  <h5 style="position:fixed;width:100%;margin-top:0%;text-align:center;color:white">Let Your Music Inspire You</h5>
  </div>
  <script>
    $(function() {
       $('.form').on('submit', function() {
         $('#loader').animate({
           opacity: 1
         }, 1000)
       });
     });
  </script>
</body>
</html>
