<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Muse</title>
    <!-- Material Design -->
    <link href="{{url_for('static', filename='css/base.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/project.min.css')}}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/base.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/project.min.js')}}"></script>
</head>
<body>
  <header class="header header-waterfall ui-header">
    <ul class="nav nav-list pull-left">
      <li>
        <a data-toggle="menu" href="#ui_menu">
          <span class="icon icon-lg">menu</span>
        </a>
      </li>
    </ul>
    <a class="header-logo header-affix-hide margin-left-no margin-right-no" data-offset-top="213" data-spy="affix" href="index.html">Muse</a>
    <span class="header-logo header-affix margin-left-no margin-right-no" data-offset-top="213" data-spy="affix">{{results}}</span>
    <ul class="nav nav-list pull-right">
      <li class="dropdown margin-right">
        <a class="dropdown-toggle padding-left-no padding-right-no" data-toggle="dropdown">
          <span class="access-hide">John Smith</span>
          <span class="avatar avatar-sm"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a class="padding-right-lg waves-attach" href="javascript:void(0)"><span class="icon icon-lg margin-right">account_box</span>Profile Settings</a>
          </li>
          <li>
            <a class="padding-right-lg waves-attach" href="javascript:void(0)"><span class="icon icon-lg margin-right">add_to_photos</span>Upload Photo</a>
          </li>
          <li>
            <a class="padding-right-lg waves-attach" href="page-login.html"><span class="icon icon-lg margin-right">exit_to_app</span>Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </header>


  <footer class="ui-footer">
    <div class="container">
      <p>Muse</p>
    </div>
  </footer>
</body>
</html>
